/.DS_Store
/Submarine.xcodeproj/xcuserdata/michaelshustov.xcuserdatad/xcdebugger
/Submarine.xcodeproj/xcuserdata/michaelshustov.xcuserdatad/xcschemes
/Submarine.xcodeproj/project.xcworkspace/xcuserdata/michaelshustov.xcuserdatad/UserInterfaceState.xcuserstate
/Submarine.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Submarine.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
